# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Dataset
# =========================
# Ignore all files inside data/
data/

# If your dataset is directly inside ML/, add its exact filename here:
CrowdSense_AI_Master_Synthetic_Dataset.csv

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db
.vscode/
